<div class="users">
  <div *ngFor="let user of users" class="user">
    <img class="user-image" [src]="user.img" />
    <div class="info-wrapper">
      <div [title]="user.name" class="user-name">
        {{user.name}}
      </div>

      <div class="user-id-username">
        <span class="user-info">{{user.username}}</span>
        <span [title]="'Id:' + user.id" class="user-info">#{{user.id}}</span>
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>
</div>
