<div *ngIf="users.length > 0; else noUsersToShow" class="users">
  <div *ngFor="let user of users" class="user">
    <img class="user-image" [src]="user.img" />
    <div class="info-wrapper">
      <div [title]="user.name" class="user-name">
        {{user.name}}
      </div>

      <div class="user-id-username">
        <span class="user-info">{{user.username}}</span>
        <span [title]="'Id:' + user.id" class="user-info">#{{user.id}}</span>
      </div>
    </div>
    <span class="spacer"></span>
    <button (click)="openPaymentDialog(user)" type="button" class="btn btn-primary">
      Pagar
    </button>
  </div>
</div>
<ng-template #noUsersToShow>
  <div class="error-message">
    Ops! Parece que não temos nenhum usuário para exibir aqui.
  </div>
</ng-template>
