.users {
  margin: 2vw;
}

.user {
  color: black;
  background-color: white;
  padding: 20px 40px;
  margin-bottom: 8px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  box-shadow: 0 1px 12px 2px rgba(94, 94, 94, 0.062);
}

.user-name {
  color: var(--primary-green);
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 4px;
}

.user-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.user-info {
  background-color: rgb(236, 236, 236);
  color: gray;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
  text-transform: lowercase;
  margin-right: 4px;
}

.user > .info-wrapper {
  margin-left: 16px;
}

.spacer {
  margin-left: auto;
}

.error-message {
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  margin: 2vw;
  text-align: center;
  color: var(--primary-green);
  font-weight: 500;
  font-size: 1.2rem;
}